extends ../../../../public/tpl/layout.pug

block title 
  title member

block main
  section.avatar-wrap
    p name
  ul
    li
      a(href='javascript:;') 我的订单
    li
      a(href='javascript:;') 我的账户
  div#insertWrap

block bottomScript
  script
    include ../js/include.js
  
